<link rel="stylesheet" href="/css/searchResults.css">

<section class="searchResults">
    <div class="header-content">
        <h1>Wine and Food Pairings</h1>
    </div>

    <div class="container">
            <div class="pairing-container">
                <div class="pairing-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Wine Name</th>
                                <th>Best with</th>
                                <th>Food Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each winePairings as |pairing|}}
                            <tr>
                                <td>{{pairing.wine.wine_name}}</td>
                                <td>{{pairing.food.food_name}}</td>
                                <td>{{pairing.food.food_description}}</td>
                                <td><img id="save-button" value={{pairing.pairing_id}} src="/images/floppy.svg" alt="save"/></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="pairing-images">
                    <div class="pairing-image">
                        <img src="https://www.gallofamily.com/resources/img/content/home/hero/hero-item-2-secondary-img.jpg" alt="Red Wine">
                    </div>
                    <div class="pairing-image">
                        <img src="https://www.binnys.com/globalassets/catalogs/binnys/10/1056/105697/105697.jpg?width=1000&height=1000&mode=BoxPad&bgcolor=fff" alt="White Wine">
                    </div>
                    <div class="pairing-image">
                        <img src="https://dw95zbr0bn7mn.cloudfront.net/compare/asset/36826/large_compare::product-91560-1909f392-501e-4049-a017-7434c57137d9.png" alt="Rosé">
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/savePairing.js"></script>
</section>