<link rel="stylesheet" href="/css/searchResults.css">

<section class="searchResults">
    <div class="header-content">
        <h1>Wine and Food Pairings</h1>
    </div>

    <div class="container">
            <div class="pairing-container">
                <div class="pairing-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Wine Name</th>
                                <th>Best with</th>
                                <th>Food Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each winePairings as |pairing|}}
                            <tr>
                                <td>{{pairing.wine.wine_name}}</td>
                                <td>{{pairing.food.food_name}}</td>
                                <td>{{pairing.food.food_description}}</td>
                                <td><img id="save-button" value={{pairing.pairing_id}} src="/images/floppy.svg" alt="save"/></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
            <div class="pairing-images">
                <div class="pairing-image"> <!-- Gallo Family Vineyards #1-->
                    <a href="https://www.wine-searcher.com/find/gallo+fmly+pinot+noir+california+usa"><img src="https://dydza6t6xitx6.cloudfront.net/ci-gallo-family-vineyards-pinot-noir-2f1550dedd0d2f7d.png"
                    alt="Red Wine">
                    <p class="img-description">Gallo Family Vineyards</p></a>
                </div>
                <div class="pairing-image"> <!-- 2019 Zorzal Eggo Franco Cabernet Franc #2-->
                    <a href="https://www.wine-searcher.com/find/zorzal+eggo+franco+cab+franc+tupungato+uco+valley+mendoza+argentina/2019">
                    <img src="https://wineanthology.com/images/Product/large/41300.gif" alt="Red Wine">
                                        <p class="img-description">2019 Zorzal Eggo Franco</p></a>

                </div>
                <div class="pairing-image"> <!--2019 Chateau Ollieux Romanis Corbieres-Boutenac Atal Sia #3-->
                    <a href="https://www.wine-searcher.com/find/ollieux+romanis+atal+sias+corbieres+boutenac+languedoc+roussillon+france/2019">
                    <img src="https://images.vivino.com/thumbs/4mV7B-pUQ5adAOCau6g0PQ_pb_600x600.png" alt="Red Wine">
                                        <p class="img-description">2019 Chateau Ollieux Romanis</p></a>

                </div>
                <div class="pairing-image"> <!--2022 Chateau La Gaffeliere #4-->
                    <a href="https://www.wine-searcher.com/find/la+gaffeliere+st+emilion+bordeaux+france/2022">
                    <img src="https://www.plummarket.com/store/pub/media/catalog/product/cache/49722c31a15eff463262c631eda6cffe/1/2/12308_2_fp4muuj3pv21c7gv_1_1.jpg" alt="Red Wine">
                                        <p class="img-description">2022 Chateau La Gaffeliere</p></a>

                </div>
                <div class="pairing-image"> <!--2020 Valli Bannockburn Vineyard #5-->
                    <a href="https://www.wine-searcher.com/find/valli+bannockburnvineyard+pinot+noir+bannockburn+central+otago+new+zealand/2020">
                    <img src="https://kentstreetcellars.co.nz/cdn/shop/products/valli-bannockburn-pinot-noir-2020-r_grande.png?v=1677100336" alt="Red Wine">
                                        <p class="img-description">2020 Valli Bannockburn Vineyard</p></a>

                </div>
                <div class="pairing-image"> <!--2016 Cantina Terlano-Kellerei Terlan 'Vorberg' Riserva Pinot Bianco Alto Adige #6-->
                    <a href="https://www.wine-searcher.com/find/cantina+terlan+kellerei+vorberg+rsrv+pinot+bianco+alto+adige+trentino+sud+tyrol+italy/2016">
                    <img src="https://www.wine-searcher.com/images/labels/94/12/10529412.jpg?width=260&height=260&fit=bounds&canvas=260,260" alt="White Wine">
                                        <p class="img-description">2016 Cantina Terlano-Kellerei Terlan</p></a>

                </div>

                <div class="pairing-image"> <!--2018 Domaine Zind-Humbrecht Riesling Brand #7-->
                    <a href="https://www.wine-searcher.com/find/dom+zind+humbrecht+riesling+brand+alsace+grand+cru+france/2018">
                    <img src="https://www.binnys.com/globalassets/catalogs/binnys/10/1056/105697/105697.jpg?width=1000&height=1000&mode=BoxPad&bgcolor=fff" alt="White Wine">
                                        <p class="img-description">2018 Domaine Zind-Humbrecht Riesling</p></a>

                </div>
                <div class="pairing-image"> <!--Moet & Chandon Grand Vintage Brut #8-->
                    <a href="https://www.wine-searcher.com/find/moet+chandon+grand+vintage+brut+champagne+france">
                    <img src="https://www.totalwine.com/dynamic/490x/media/sys_master/twmmedia/h1d/h0d/11797679702046.png" alt="Champagne">
                                        <p class="img-description">Moet & Chandon Grand Vintage Brut</p></a>

                </div>
                <div class="pairing-image"> <!--The Sadie Family Die Ouwingerdreeks 'Skerpioen' White #9-->
                    <a href="https://www.wine-searcher.com/find/the+sadie+fmly+die+ouwingerdreeks+skerpioen+white+swartland+coastal+western+cape+south+africa">
                    <img src="https://sunfishcellars.com/cdn/shop/products/skerpioen-white-19-resize_1024x1024@2x.jpg?v=1624308594" alt="White Wine">
                                        <p class="img-description">The Sadie Family Die Ouwingerdreeks</p></a>

                </div>
                <div class="pairing-image"> <!--2016 Cantina Terlano-Kellerei Terlan 'Vorberg' Riserva Pinot Bianco Alto Adige #10-->
                    <a href="https://www.wine-searcher.com/find/the+sadie+fmly+die+ouwingerdreeks+skerpioen+white+swartland+coastal+western+cape+south+africa">
                    <img src="https://www.wine-searcher.com/images/labels/80/62/10558062.jpg" alt="White Wine">
                                        <p class="img-description">2016 Cantina Terlano-Kellerei Terlan</p></a>

                </div>
            </div>
        </div>
    </div>
        <script src="/js/savePairing.js"></script>
</section>