.home {
    margin: 40px;
}

#search-dropdowns, #user-pairings, #searchbar-results {
    margin: 40px;
}

#section1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#user-pairings {
    height: 500px;
    padding: 10px;
    overflow: scroll;
}

#user-pairings::-webkit-scrollbar {
    overflow: hidden;
}

@media screen and (max-width: 920px) {
    #section1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #search-dropdowns, #user-pairings {
        width: 100%;
        overflow: visible;
    }
}